<ul class="nav">
  <li class="nav-item">
    <form action="/admin/restaurants" method="get">
      <button class="btn" type="submit" onclick="">Restaurants</button>
    </form>
  </li>
  <li class="d-flex align-items-center"> | </li>
  <li class="nav-item">
    <form action="/admin/users" method="get">
      <button class="btn" type="submit">Users</button>
    </form>
  </li>
</ul>